
extends ./layout.jade

block title
  title Home

block content
       center 
            table(bgcolor="#32A0B9" width="40%")
                tr
                    td(colspan="2" style="font-family:  Georgia, serif;color:white;")
                        center 
                            b 
                                font(size="6") Welcome
                        br
                tr
                    td
                        center
                            form(action="/searchInfo", method="get")
                                 p: button(type="submit" style="font-family:  Georgia, serif;color:#32A0B9;") 
                                    b View Employee Detail
                                 
                    td
                        center
                            form(action="/createUser", method="get")
                                 p: button(type="submit" style="font-family:  Georgia, serif;color:#32A0B9;") 
                                    b Create User