<html>
    <head><title>Employee Search</title></head>
    <body>
        <center>
            <table bgcolor="#32A0B9" width="40%" >
                <tr>
                    <td align="center" colspan="2" style="font-family:  Georgia, serif;color:white;">
                                <form action="/logout", method="get">
                                    <input name="LogOut" value='Log Out' type="submit" />
                                </form>
                    </td>
                </tr>    
            </table>
                    
            <table bgcolor="#32A0B9" width="80%">
                <tr><td></br></td></tr>
                <tr><td colspan="2"><center><font style="font-family:  Georgia, serif;color:white;" size="6"><b>Employee Search Screen</b></font></center></td></tr>
                <tr><td></br></td></tr>
                <tr><td><center>
                <form action="/searchEmpInfo" method="POST">
                    <table bgcolor="#B9D5DC" width="40%">
                        <tr><td></br></td></tr>
                        <tr><td align="right" nowrap><font style="font-family:  Georgia, serif;"><b>Employee Id: </b></font></td><td><input type="text" name="empId" size="10" /></b></td></tr>
                        <tr><td></br></td></tr>
                        <tr><td colspan="2"><center><button type="submit"><font style="font-family:  Georgia, serif;color:#32A0B9"><b>Submit</b></font></button></center></td></tr>
                        <tr><td></br></td></tr>
                    </table>
                </form>
                <form action="/" method="GET">
                    <center><button type="submit"><font style="font-family:  Georgia, serif;color:#32A0B9"><b>Home</b></font></button></center>
                </form>
                </center>
                </td></tr>
                <tr><td></br></td></tr>
            </table>
        </center>
    </body>
</html>