<html>
    <head><title>Employee Form</title></head>
        <body bgcolor="#32A0B9">
                <table bgcolor="#32A0B9" width="40%" >
                        <tr>
                            <td align="center" colspan="2" style="font-family:  Georgia, serif;color:white;">
                                        <form action="/logout", method="get">
                                            <input name="LogOut" value='Log Out' type="submit" />
                                        </form>
                            </td>
                        </tr>    
                    </table>
           <center><font style="font-family:  Georgia, serif;color:white;" size="6"><b>Employee Information Form</b></font></br></br></br>
           <table bgcolor="#F3E9E5" width="80%" border="1" style="border-top-color: #210A02;border-bottom-color: #210A02">
                    <tr>
                        <th align="center" nowrap><font style="font-family:  Georgia, serif;" size="3"><b>Employee Name</b></font></th>
                        <th align="center">       <font style="font-family:  Georgia, serif;" size="3"><b>Gender</b></font></th>
                        <th align="center" nowrap><font style="font-family:  Georgia, serif;" size="3"><b>Date of Birth</b></font></th>
                        <th align="center" nowrap><font style="font-family:  Georgia, serif;" size="3"><b>Primary Email</b></font></th>
                        <th align="center" nowrap><font style="font-family:  Georgia, serif;" size="3"><b>Secondary Email</b></font></th>
                        <th align="center" nowrap><font style="font-family:  Georgia, serif;" size="3"><b>Phone Number</b></font></th>
                        <th align="center" nowrap><font style="font-family:  Georgia, serif;" size="3"><b>Skill Set</b></font></th>
                        <th align="center" nowrap><font style="font-family:  Georgia, serif;" size="3"><b>Total Experience</b></font></th>
                        <th align="center" nowrap><font style="font-family:  Georgia, serif;" size="3"><b>Photo upload</b></font></th>
                        <th align="center" nowrap><font style="font-family:  Georgia, serif;" size="3"><b>Resume upload</b></font></th>
                    </tr>
                    <tr>
                        <td align="center" nowrap><font style="font-family:  Georgia, serif;color:#DF6030;" size="2"><b>{{item.emp_name}}</b></font></td>
                        <td align="center" nowrap><font style="font-family:  Georgia, serif;color:#DF6030;" size="2"><b>XYZ</b></font></td>
                        <td align="center" nowrap><font style="font-family:  Georgia, serif;color:#DF6030;" size="2"><b>XYZ</b></font></td>
                        <td align="center" nowrap><font style="font-family:  Georgia, serif;color:#DF6030;" size="2"><b>XYZ</b></font></td>
                        <td align="center" nowrap><font style="font-family:  Georgia, serif;color:#DF6030;" size="2"><b>XYZ</b></font></td>
                        <td align="center" nowrap><font style="font-family:  Georgia, serif;color:#DF6030;" size="2"><b>XYZ</b></font></td>
                        <td align="center">       <font style="font-family:  Georgia, serif;color:#DF6030;" size="2"><b>XYZ</b></font></td>
                        <td align="center" nowrap><font style="font-family:  Georgia, serif;color:#DF6030;" size="2"><b>XYZ</b></font></td>
                        <td align="center" nowrap><font style="font-family:  Georgia, serif;color:#DF6030;" size="2"><b>XYZ</b></font></td>
                        <td align="center" nowrap><font style="font-family:  Georgia, serif;color:#DF6030;" size="2"><b>XYZ</b></font></td>
                    </tr>
                </table>
            </center>
        </body>
</html>